body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(images/boat_clouds_mountains_152754_2560x1080.jpg);
    background-size: cover;
}

.container{
    position: relative;
    width: 100%;
    height: 100vh;
}


.functional{
    margin: 7% auto;
    width: 90%;
}

.logo{
    display: flex;
    padding: 10px;
    box-sizing: border-box;
    justify-content: center;
}

.logo img{
    width: 100%;
}

.input_link input{
    width: 100%;
    height: 3.5rem;
    outline: none;
    padding: 0 15px;
    border: 0;
    background-image: linear-gradient(45deg, rgba(255, 113, 129, 0.81), rgba(94, 199, 179, 0.7));
    color: white;
    font-size: 25px;
    box-sizing: border-box;
    font-family: serif;
    border-radius: 10px;
    box-shadow: 4px 4px 15px rgba(36, 32, 32, 0.37);
}

.input_link input::placeholder{
    color: #bfd1cd;
    font-style: bold;
}

.input_link{
    width: 100%;
}

.loading{
    width: 100%;
    height: 6rem;
    background: rgba(137, 255, 130, 0.6);
    backdrop-filter: blur(8px);
    border-radius: 10px;
    margin-top: 10px;
    display: none;
    justify-content: center;
    align-items: center;
}

.error_info{
    width: 100%;
    height: 6rem;
    background: red;
    color: white;
    border-radius: 10px;
    margin-top: 10px;
    display: none;
    justify-content: center;
    align-items: center;
}

.info_video{
    flex-direction: column;
    position: relative;
    height: 100%;
    display: none;
    padding: 15px;
    background: rgba(197, 223, 224, 0.67);
    box-shadow: 4px 4px 15px rgba(29, 28, 28, 0.37);
    backdrop-filter: blur(8px);
    margin-top: 10px;
    border-radius: 10px;
}
.thumbnail{
    width: 100%;
    height: 100%;
}

.thumbnail img{
    width: 100%;
}

.info_download{
    width: 100%;
    position: relative;
    padding-left: 0;
    box-sizing: border-box;
}

.text_info{
    margin-bottom: 5px;
}

.title, .channel{
    margin: 0;
    padding: 0;
}

.title{
    font-size: 1.5rem;
    padding: 5px 0;
}

.channel{
    font-size: 0.75rem
    padding: 5px 0;
    color: #ff6615;
}

.download{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.text_info{
    height: 50%;
    padding: 10px 0;
}
.btn{
    display: flex;
    width: 49%;
    height: 100%;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
    padding: 10px 0;
    border-radius: 10px;
}


.btn_download-audio{
    background: #cf4cff;
}

.btn_download-video{
    background: #2eeb1e;
}

#text_dl_audio, #text_dl_video{
    color: white;
    margin: 9px;
}

@media only screen and (min-width: 768px){
    .info_video{
        flex-direction: row;
    }

    .functional{
        width: 80%;
    }

    .logo img{
        width: 50%;
    }
    
    .thumbnail{
        width: 40%;
    }

    .info_download{
        width: 60%;
        padding-left: 10px;
    }

    .text_info{
        height: 70%;
        width: 100%;
        margin-bottom: 0;
        padding: 0;
    }
    
    .title{
        font-size: 1.5rem;
    }
    
    .channel{
        font-size: 1rem;
    }

    .download{
        height: 30%;
    }
    .btn{
        padding: 0;
        cursor: pointer;
    }
}

@media only screen and (min-width: 1280px){
    .functional{
        width: 70%;
    }

    .info_video{
        flex-direction: row;
    }

    .title{
        font-size: 2rem;
        padding: 10px 0;
    }
    
    .channel{
        font-size: 1.25rem;
    }
    #text_dl_audio, #text_dl_video{
        margin: 10px;
    }

} 
