<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Download Video, Audio from Youtube.</title>
    <link rel="stylesheet" href="/static/index.css">
    <link rel="stylesheet" href="/static/roller.css">
    <link rel="stylesheet" href="/static/spinner_audio.css">
    <link rel="apple-touch-icon" sizes="57x57" href="/static/images/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/static/images/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/static/images/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/static/images/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/static/images/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/static/images/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/static/images/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/static/images/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/images/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/static/images/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/static/images/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/images/favicon-16x16.png">
    <link rel="manifest" href="/static/images/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/static/images/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
</head>

<body>
    <div class="container">
        <div class="functional">
           <div class="logo">
               <img src="/static/images/logo.png" alt="">
           </div>
            <div class="input_link">
                <input type="text" placeholder="Paste link here." id="input_link" autofocus>
            </div>
            
            <div class="loading" id="loading">
                <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
            </div>
            
            <div class="error_info" id="error_info">
                <h2>Có thể do link bị lỗi! Sorry.</h2>
            </div>
            
            <div class="info_video" id="info_video">
                <div class="thumbnail">
                    <img src="https://images.squarespace-cdn.com/content/v1/5a5906400abd0406785519dd/1552662149940-G6MMFW3JC2J61UBPROJ5/ke17ZwdGBToddI8pDm48kLkXF2pIyv_F2eUT9F60jBl7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z4YTzHvnKhyp6Da-NYroOW3ZGjoBKy3azqku80C789l0iyqMbMesKd95J-X4EagrgU9L3Sa3U8cogeb0tjXbfawd0urKshkc5MgdBeJmALQKw/baelen.jpg?format=1500w" class="video_image" id="video_image" alt="">
                </div>
                <div class="info_download" id="div_download">
                    <div class="text_info">
                        <h2 class="title" id="video_title">This is title video.</h2>
                        <h4 class="channel" id="video_channel">My Channel</h4>
                    </div>
                    <div class="download">
                        <div class="btn btn_download-audio" id="dl_audio">
                            <h4 id="text_dl_audio">
                                <i class="fas fa-download"></i>
                                 Audio
                            </h4>
                            <div id="spinner_audio" class="spinner_audio">
                              <div class="double-bounce1"></div>
                              <div class="double-bounce2"></div>
                            </div>
                        </div>
                        <div class="btn btn_download-video" id="dl_video">
                            <h4 id="text_dl_video">
                                <i class="fas fa-download"></i>
                                 Video
                            </h4>
                            <div id="spinner_video" class="spinner_audio">
                              <div class="double-bounce1"></div>
                              <div class="double-bounce2"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://kit.fontawesome.com/7291f889e6.js" crossorigin="anonymous"></script>    
    <script src="/static/index.js"></script>
</body>

</html>
